#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Easy menu
Comment=Easy menu est un menu ayant pour but de simplifier les usages classiques d’un ordinateur.
Exec=dvkbuntu-easy-menu
Icon=dvkbuntu-easy-menu
Categories=Utility;
